<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Amount</h3>
    </div>
    <div class="panel-body">
      <p>The bill comes to: £<%= @bill_amount %></p>
      <p>You have chosen to tip: <%= @tip_amount %>%</p>
      <p>Your tip will cost you: £<%= @percent %></p>
      <p><strong>In total you will need to pay: £<%= @total %></strong></p>
    </div>
  </div>
</div>
