<div class="container">
  <div class="jumbotron">
    <h1>Calculate my bill!</h1>
    <p>Choose a tip % and we calculate your bill for you.</p>
  </div>
  <form action="/amount" method="get">
    <label>Bill: £</label>
    <input type="number" name="bill">
    <label>Tip: %</label>
    <input type="number" name="tip">
    <input type="submit">
  </form>
</div>
